%tr
  %th{:style => "color: white; background-color: #333333", :colspan => @periods.length + 1}
    %span.section-title= "Fixed Expenses"
    %a{:href => "javascript:void(0)", :class => "icon-white icon-plus-sign", :onclick => "Moneyger.mainRouter.new_expense('fixed')"}/
%tbody.fixed_expenses
  - @budget.expenses.where(:isfixed => true, :auto_withdrawal => false).order("id ASC").each do |expense|
    =render(:partial => "expenses/expense_row", :locals => {:expense => expense})

%tbody.fixed_expense_totals
  %tr
    %th.total-cell Fixed Expenses Total
    - @periods.each do |period|
      %td.total-cell{:id => "fixed_expense_total_cell_#{period.id}"}= number_to_currency(period.fixed_expense_total)
