<tr>
  <th style="color: white; background-color: #333333;" colspan="<%= @budget.periods.length+1 %>">Fixed Expenses</th>
</tr>
<% @budget.expenses.where(:isfixed => true, :auto_withdrawal => false).each do |expense| %>
    <tr>
    	  <th nowrap="true">
    	  <%= expense.title %></th>
    	  <% @budget.periods.all.each do |period| %>
    	  <% expense_value = period.find_expense_values(expense) %>
          <td> <%= expense_value > 0 ? number_to_currency(expense_value) : ""  %> </td>
          <% end %>
    </tr>
<% end %>

<tr>
  <th style="color: #333333; background-color: #3399ff;">Total</th>
  <% @budget.periods.all.each do |period| %>
      <td style="color: #333333; background-color: #3399ff; font-weight: bold;" id="fixed_expense_total_cell_">
        <%= number_to_currency(period.fixed_expense_total) %>
      </td>
  <% end %>
</tr>