%tr
  %th{:style => "color: white; background-color: #333333;", :colspan => @periods.length + 1}
    %span Fixed Expenses
    %span.label.label-warning Auto Withdrawals
    %a{:href => "javascript:void(0)", :class => "icon-white icon-plus-sign", :onclick => "Moneyger.mainRouter.new_expense('fixed_aw')"}/

%tbody.fixed_expenses_aw
  -@budget.expenses.where(:isfixed => true, :auto_withdrawal => true).each do |expense|
    =render(:partial => "expenses/expense_row", :locals => {:expense => expense})

%tbody.fixed_expense_aw_totals
  %tr
    %th.total-cell Auto withdrawal total
    -@periods.each do |period|
      %td.total-cell{:id => "fixed_aw_expense_total_cell_#{period.id}"}= number_to_currency(period.fixed_expense_total(1))
