%tbody.incomes
  -@budget.incomes.order("sort_weight ASC").each do |income|
    = render(:partial => 'incomes/income_row', :locals => {:income => income})

%tbody{:id => "income_totals"}
  %tr
    %th{:style => "color: #333333; background-color: #3399ff;"} Total Income
    - @periods.each do |period|
      - income_total = period.income_total
      %td{:style=>"color: #333333; background-color: #3399ff; font-weight: bold;", :id => "income_total_#{period.id}"}= number_to_currency(income_total+period.beginning_balance)

%div{:id => "income_dialog"}
