<% @budget.incomes.each do |income| %>
    <tr>
      <th nowrap="true" ><%= income.title %></th>
      <% @budget.periods.all.each do |period| %>
          <%
             # Grab the income value
             income_value = period.find_income_value(income)
          %>
          <td class="income_cell"> <%= income_value > 0 ? number_to_currency(income_value) : "" %></td>
      <% end %>
    </tr>
<% end %>

<tr>
  <th style="color: #333333; background-color: #3399ff;">Total</th>
  <% @budget.periods.all.each do |period| %>
  	  <% income_total = period.income_total %>
      <td style="color: #333333; background-color: #3399ff; font-weight: bold;" id="income_total_cell_">
        <%= number_to_currency(income_total) %>
      </td>
  <% end %>
</tr>