%tr
  %th{:style => "color: white; background-color: #333333;"}
    %span.section-title Variable Expenses
    %a{:href => "javascript:void(0)", :class => "icon-white icon-plus-sign", :onclick => "Moneyger.mainRouter.new_expense('variable')"}/
  %td{:colspan => @budget.periods.length, :style => "background-color: #333333;"} &nbsp;
%tbody.variable_expenses
  - @budget.expenses.where(:isfixed => false).each do |expense|
    =render(:partial => "expenses/expense_row", :locals => {:expense => expense})

%tbody.variable_expense_totals
  %tr
    %th.total-cell Variable Expenses Total
    - @periods.each do |period|
      %td.total-cell{:id => "variable_expense_total_cell_#{period.id}",
                     :nowrap => true}

%div{:class => "modal fade hide", :id => "expense_edit_container"}/
