// Place all the styles related to the budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Tables
table#budget {border: solid 1px #cccccc;}
table#budget tbody {border: solid 1px #ccc;}
table#budget thead tr#starting_balance td, table#budget thead tr#starting_balance th {border-top: solid #333; background-color: #CCFF99;}
table#budget thead td{background-color: #ffffff;}
table thead tr th{ text-align: center; background-color: #ffffff;}
table#budget tbody td {border-right: solid 1px #ccc; border-left: solid 1px #ccc; background-color: #ffffff;}
table#budget tbody tr th{background-color: #ffffff;}
table#budget td.total-cell{color: #333333; background-color: #3399ff;}
table#budget th.total-cell{color: #333333; background-color: #3399ff;}

// Widget styles
.negative-balance {color: red; font-weight: bold;}
.progress{height: 6px; margin-bottom: 0px;}

// Container Styles
div#main_container{position: relative;}
div#budget-container{width: 100%}
div#budget-container table{overflow: hidden;}
div#notice ul{ margin: 1.5em;}
div#notice ul li{margin-left: 1.5em;}

  // Side containers
  div.right_container {position: absolute; right: 0px; top: 0px; bottom: 0px; 
    background-color: #333333; 
    border-left: solid 1px white;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    width: 2px;}

span.section-title {padding-right: 1.5em}

// Typography
h1{color: white;}
		
