.modal-body
  %div{:id => "notice"}
  = semantic_form_for @income_value do |f|
    %fieldset
      .control-group
        = f.label :amount, :class => "control-label"
        .controls
          = f.text_field :amount, :class => "text required", :placeholder => "125.95"

      .control-group
        .controls
          <input type="checkbox" name="apply_future"> Apply to future entries

  %h3 Comments
